# Ignore node_modules folder
node_modules

# Ignore logs
logs
*.log

# Ignore Docker-related files
Dockerfile
.dockerignore
docker-compose.yml

# Ignore other potentially unnecessary files
.git
.gitignore
.env
*.md
